@import "tailwindcss";
:root {
  font-family: "Space Grotesk", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

label {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: small;
}

input {
  margin-top: 5px;
}
